ipykernel
requests
pandas
scrapy
scrapy-playwright
beautifulsoup4
extruct
aiohttp
requests
fuzzywuzzy
duckduckgo-search
ddgs
ipywidgets
thefuzz[speedup]
playwright
playwright-stealth
nest_asyncio 
tqdm
crawl4ai 
openpyxl
phonenumbers
matplotlib
numpy
urllib3
